.plan {
  padding-bottom: 12px;
  position: relative;
  zoom: 1;
  min-width: 100%;
  height: auto;
}

.lecture-menu {
  height: 100% !important;
  width: 200px;
  margin: 0px;
  top: 0px;
  left: 0;
  margin-left: 0;
  position: absolute;
}

.plan-main {
  margin: 0 0 0 200px;
  background: #f8f8f8;
}
