.lecture-plan {
  padding-bottom: 12px;
  min-width: 100%;
  overflow: hidden;
}

.lecture-menu {
  height: 100% !important;
  width: 200px;
  margin: 0px;
  top: 0px;
  left: 0;
  margin-left: 0;
}

.plan-main {
  display: flex;
  width: 100%;
}
