.lecture-home {
  padding-bottom: 12px;
  min-width: 100%;
  overflow: hidden;
}

.lecture-sidebar {
  height: 100% !important;
  width: 200px;
  margin: 0px;
  top: 0px;
  left: 0;
  margin-left: 0;
}

.home-content {
  display: flex;
}
