.lesson {
  padding-bottom: 12px;
  position: relative;
  zoom: 1;
  min-width: 100%;
  height: auto;
}

.lecture-sidebar {
  height: 100% !important;
  width: 200px;
  margin: 0px;
  top: 0px;
  left: 0;
  margin-left: 0;
  position: absolute;
}

.lesson-content {
  margin: 10px 0 0 210px;
}
