body {
  background: #ebebeb;
  color: #262626;
  font-size: 0.875rem;
  line-height: 1.6;
  cursor: auto;
}

div {
  margin: 0;
  padding: 0;
  display: block;
}

span {
  margin: 0;
}
